[Desktop Entry]
Name=Havok Browser
Comment=Browse the web
Exec=havok-browser
Icon=web-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true
